<!DOCTYPE html>
<html lang="en" data-bs-theme="light"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>PLANDEMIC by KermitKrew</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/heroes/">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.4.0/yeti/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


     
   <body>
    

    
<main>
<div class="alert alert-info">
  <strong>Important!</strong> This is an early conceptual design. Website contents are subject to change.
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">PLANDEMIC</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Help</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron text-center">
  <h1>Inviting - Simplified. RSVPing - Amplified.</h1>
  <p>Quickly design and customize enticing invites with PLANDEMIC, a KermitKrew project.</p> 
<button type="button" class="btn btn-primary btn-lg px-4 gap-3">Sign-Up</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Learn More</button>
</div>

        

  </main>

    

</body></html>